.players {
    display: flex;
    flex-direction: column;
}

.players .title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 8px;
}

.players .title:first-child {
    margin-top: 0;
}

.player {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.player .container {
    width: 200px;
    height: 200px;
    flex-grow: 0;
    margin-right: 32px;
    margin-bottom: 8px;
}

.player .description {
    margin-right: 32px;
}

@media(max-width: 640px) {

    .player {
        flex-direction: column;
    }

}
