.layout {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

.player-container {
    flex-grow: 0;
    margin-right: 32px;
}

.ani-mate-player {
    border: solid silver 1px;
}

.api {
    flex-grow: 1;
    font-size: 14px;
}

.api-table {
    flex-grow: 1;
    display: table;
    border-collapse: collapse;
}

.api-row {
    display: table-row;
}

.api-cell {
    display: table-cell;
    border: solid silver 1px;
    padding: 8px;
}

.api-cell.header {
    background-color: #e0e0e0;
    font-weight: bold;
}

.api-cell.code {
    font-family: 'Courier New', Courier, monospace;
}

.api-cell.code a {
    color: orangered;
    text-decoration: none;
    cursor: pointer;
}

.api-cell.code a:hover {
    color: darkred;
    text-decoration: none;
}

.frame-index {
    font-size: 18px;
    margin-top: 24px;
}

@media(max-width: 900px) {

    .layout {
        flex-direction: column;
        align-items: stretch;
    }

    .player-container {
        margin-top: 16px;
        margin-bottom: 32px;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .api-table {
        width: 100%;
    }

}