.player-container {
    padding-right: 16px;
    margin-top: 64px;
    width: 50%;
}

.player-container h3 {
    margin-bottom: 16px;
}

.player-controls {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn {
    border: none;
    border-radius: 4px;
    padding: 8px 12px 8px 12px;
    color: white;
    font-size: 15px;
    min-width: 90px;
    margin-right: 8px;
    outline: none;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    opacity: 1;
}

.btn.btn-faster {
    background-color: #43aa54;
}

.btn.btn-slower {
    background-color: #e05f5f;
}

.speed {
    border: none;
    border-radius: 4px;
    padding: 8px 12px 8px 12px;
    color: white;
    background-color: darkorange;
    font-size: 15px;
    min-width: 100px;
    text-align: center;
}

@media(max-width: 640px) {

   .player-container {
        padding-right: 16px;
        margin-top: 64px;
        width: 100%;
    }

}