.page {
    width: 100%;
    height: 100%;
    display: none;
}

.page.visible {
    display: block;
}

.header {
    flex-grow: 0;
}

.sub-header {
    font-size: 16px;
    margin-bottom: 8px;
    flex-grow: 0;
}

.player-container {
    width: 200px;
    height: 200px;
}

.player-controls {
    width: 200px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    margin-top: 16px;
    margin-bottom: 32px;
}

.player-controls button {
    flex-grow: 1;
    border: none;
    background: transparent;
    color: silver;
    padding: 4px;
    margin: 0;
    font-size: 32px;
    outline: none;
    cursor: pointer;
}

.player-controls button.active {
    color: black;
}

.player-debug {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    height: 400px;
}

.player-debug-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.player-script {
    flex-grow: 1;
    padding: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    overflow: auto;
    border: solid silver 1px;
    background-color: #FAFAFA;
    margin-right: 8px;
}

.player-terminal {
    flex-grow: 1;
    padding: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    overflow: auto;
    border: solid silver 1px;
    background-color: #FAFADE;
}
