html,
body {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0;
}

.background {
    position: absolute;
    background-color: #c7f1f0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.15;
}

.player-container {
    width: 100vh;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    padding: 16px;
    overflow: auto;
}

.paragraph {
    margin-bottom: 18px;
}

.examples {
    display: table;
}

.example {
    display: table-row;
}

.example .link {
    display: table-cell;
    padding: 2px 2px 2px 18px;
    white-space: nowrap;
    min-width: 150px;
}

.example .description {
    display: table-cell;
    padding: 2px;
}

.example .link a {
    display: inline-block;
    color: orangered;
    text-decoration: none;
    border-bottom: dotted transparent 2px;
}

.example .link a:hover,
.example .link a:visited {
    color: orangered;
    border-bottom: dotted orangered 2px;
}

@media(max-width: 768px) {
    html,
    body {
        font-size: 16px;
    }

    .background {
        opacity: 0.2;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .player-container {
        flex-grow: 0;
        width: 100vw;
        height: 100vw;
    }

    .examples {
        display: flex;
        flex-direction: column;
    }

    .example {
        display: block;
        padding-right: 32px;
    }

    .example .link {
        display: block;
        padding: 4px 4px 0 4px;
    }

    .example .description {
        display: block;
        padding: 4px;
        border-bottom: dotted silver 1px;
    }

}
