/*
Container where animation is rendered
*/
*[ani-mate-player] {
    width: 100%;
    height: 100%;
    visibility: hidden;
}

*[ani-mate-player] .visible {
    visibility: visible;
}

/*
Frame container
*/
*[ani-mate-player] .frame {
    display: none;
    width: 100%;
    height: 100%;
    display: none;
    border-collapse: collapse;
}

*[ani-mate-player] .frame.visible {
    display: table;
}

/*
Row of pixels within the container
*/
*[ani-mate-player] .row {
    display: table-row;
    border-collapse: collapse;
}

/*
Single pixel within the row
*/
*[ani-mate-player] .row .cell {
    display: table-cell;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
}

