html, body {
}

.game {
    display: flex;
    flex-direction: column;
    width: 632px;
}

.controls-container {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 48px;
}

.controls-container .btn {
    flex-grow: 0;
    border: none;
    border-radius: 8px;
    padding: 12px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    min-width: 150px;
    margin-right: 16px;
    outline: none;
}

.controls-container .btn:hover {
    opacity: 0.8;
}

.controls-container .btn:active {
    opacity: 1;
}

.controls-container .btn.btn-start {
    background-color: #43aa54;
}

.controls-container .btn.btn-stop {
    background-color: #e05f5f;
}

.controls-container .counter {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
    font-size: 22px;
    font-weight: bold;
}

.image-container {
    position: relative;
    width: 100%;
    height: 632px;
    border: solid black 16px;
}

.image-container img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.image-container img.visible {
    visibility: visible;
}

.player-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

@media(max-width: 640px) {
    .game {
        width: 100%;
    }
}
