.player-container {
    margin-bottom: 32px;
    width: 50%;
    border: solid silver 1px;
    padding: 2px;
}

*[ani-mate-player] .row .cell {
    font-weight: bold;
    font-size: 32px;
}

@media(max-width: 768px) {

    .player-container {
        width: 100%;
    }

}
