html, body {
}

.game {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

.controls {
}

.phone {
    width: 316px;
    height: 750px;
    position: relative;
    background-image: url('media/nokia.jpg');
    background-size: cover;
}

.phone .screen {
    position: absolute;
    background-color: #bce29e;
    border: solid #252e1e 1px;
    left: 57px;
    top: 206px;
    width: 204px;
    height: 126px;
    padding: 1px;
}

.phone .status {
    position: absolute;
    background-color: #bce29e;
    left: 58px;
    top: 207px;
    width: 202px;
    height: 24px;
    padding: 6px 2px 2px 2px;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    display: none;
}

.phone .status.visible {
    display: flex;
}

.phone .controls {
    position: absolute;
    left: 57px;
    top: 336px;
    width: 204px;
    height: 22px;
    flex-direction: row;
    align-items: stretch;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    display: none;
}

.phone .controls.visible {
    display: flex;
}

.phone .controls .score {
    flex-grow: 1;
    padding-left: 2px;
    justify-content: flex-start;
}

.phone .controls .speed {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 2px;
}

.phone .button {
    position: absolute;
    opacity: 0.1;
    cursor: pointer;
}

.phone .button:hover {
    position: absolute;
    opacity: 0.5;
}

.phone .button:active {
    position: absolute;
    opacity: 1;
}

.phone .button.button-call {
    background-image: url('media/button-call.png');
    width: 123px;
    height: 35px;
    left: 97px;
    top: 392px;
}

.phone .button.button-up {
    background-image: url('media/button-up.png');
    width: 51px;
    height: 50px;
    left: 218px;
    top: 410px;
}

.phone .button.button-down {
    background-image: url('media/button-down.png');
    width: 57px;
    height: 54px;
    left: 179px;
    top: 429px;
}

.phone .button.button-c {
    background-image: url('media/button-c.png');
    width: 57px;
    height: 54px;
    left: 50px;
    top: 409px;
}