* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 0 16px 0;
    padding: 16px;
    width: 100%;
    height: 100%;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    overflow: auto;
}

body * {
    visibility: hidden;
}

body.visible * {
    visibility: visible;
}

*[example] {
    margin-bottom: 32px;
}

*[example] h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

*[example] h1 {
    display: flex;
    flex-direction: column;
}


*[example] h1 .source-button-container {
    margin-top: 8px;
}

*[example] h1 .source-button-container .source-button {
    background-color: #5fa7e7;
    border-radius: 4px;
    border: none;
    padding: 8px 16px 8px 16px;
    font-size: 16px;
    color: white;
    white-space: nowrap;
    width: 150px;
}

code {
    color: orangered;
}

a, a:visited {
    color: orangered;
    text-decoration: none;
    border-bottom: dotted orangered 1px;
}

a:hover {
    color: darkred;
    text-decoration: none;
    border-bottom: dotted darkred 1px;
}

.description {
    margin-bottom: 16px;
}

@media(max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }
}